/**
 * Custom properties
 */
:root {
  --color-light: rgba(255,255, 255, 1.0);
}

#awsm-cookie-notice {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0px 24px 12px 24px;
  background-color: var(--color-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0 8px 0 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #awsm-cookie-notice {
    width: 33%;
  }
}

#awsm-cookie-notice h3.awsm-cookie-notice__title {
  text-align: center;
}

#awsm-cookie-notice p.awsm-cookie-notice__text {
  text-align: center;
}

#awsm-cookie-notice p.awsm-cookie-notice__link {
  text-align: center;
}

#awsm-cookie-notice p.awsm-cookie-notice__action {
  text-align: center;
}
